<style type=text/css>	
body{
   background-color: grey;
   font-size:11pt;
   color:blue;
   font-family:Verdana;
}
.grande { 
	font-size:32pt; 
	font-weight: bolder;
	}
.evidenziato{ background-color:orange;
	          color: black;
}
.didascalia{ 
	font-size:8pt; 
	font-style: italic;
}
</style>
